html, body { 
    height: 100%; 
    margin: 0; 
} 

body { 
    /* центрирование игрового поля */ 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    font-family: Arial; 
    } 

.field { 
    width: 400px; 
    height: 400px; 
    background-color: #9775AA; 
    border-radius: 5px; 
    position: relative;
}

.field__cell {
    width: 81.25px; 
    height: 81.25px; 
    position: absolute; 
    border-radius: 3px; 
    }

.field__cell--null {
    background-color: #764B8E; 
} 

.field__cell--tile {
    background-color: #3D1255;
    color: white;
    font-size: 42px;
    font-weight: bold;

    /* центрирование числа на костяшке */
    display: flex;
    justify-content: center;
    align-items: center; 
}