<!DOCTYPE html>
<html>
<head>
    <meta charset="uft-8">
    <title>Логический элемент 'И'</title>
    <link rel="stylesheet" href="logic.css">
</head>
<body>

    <div id="app">
        <label>
            <input type="checkbox" id="bigCheck" v-model="A">
            &nbsp;&&&nbsp;
            <input type="checkbox" id="bigCheck" v-model="B">
            <center><p>{{A&&B?"true":"false"}}</p></center>
        </label>
        </h1>
    </div>
          
    <script src="https://unpkg.com/vue@2.1.8/dist/vue.js"></script>
    <script src="logic.js"></script>

</body>
</html>