<!DOCTYPE html>
<html>
<head>
    <meta charset="uft-8">
    <title>Листинг 5.4 - Синтаксис шаблонов - выражения</title>
</head>
<body>
       
    <div id="app">
        <div>
            <input type="number" v-model="n">
            <p>Удвоенное число: {{ n * 2 }}</p>
        </div>    
        <div>
            <input type="checkbox" v-model="checked">
            <p>{{checked?"YES":"NO"}}</p>
        </div>
        <div>
            <input type="text" v-model="message">
            <p>{{message.split("").reverse().join("")}}</p>
        </div>
    </div>

    <script src="https://unpkg.com/vue@2.1.8/dist/vue.js"></script>
    <script src="script3.js"></script>
    
</body>
</html>